@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Basic styles starts  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
}
/* .primary_title {
}
.primary_description {
}
.primary-btn {
} */
.primary_container {
  max-width: 1440px;
  height: 500px;
  margin: 0 auto;
  background-color: #000000;
  border: 1px solid green;
}
/* .secondary_container {
} */
/* Basic styles ends  */

/* navbar starts  */
.nav_banner{
  background: linear-gradient();
  height: 715px;
}
.navbar{
  display: flex;
  justify-content: space-between;

}
.nav_items{
  background-color: rebeccapurple;
}
/* navbar ends  */