@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Basic styles starts  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
}
.primary_heading {
  margin: 0 auto;
  text-align: center;
  padding: 50px;
  width: 50%;
}
.primary_title {
  color: #ffffff;
  font-size: 40px;
  font-weight: 900;
}
.secondary_title {
  color: #ffffff;
}
.primary_description,
.foot_content1 p {
  color: #8c8c8c;
  font-size: 16px;
  font-weight: 400px;
}
.primary_btn {
  width: 200px;
  height: 54px;
  background-color: #e6533c;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  border-radius: 50px;
  border: 1px solid #ffffff;
}
.primary_container {
  max-width: 1440px;
  width: 100%;
  /* height: 500px; */
  margin: 0 auto;
  background-color: #000000;
}
.secondary_container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  background-color: rgb(34, 34, 34);
}
.inner_width {
  max-width: 74%;
  margin: 0 auto;
}

/* Basic styles ends  */

/* navbar starts  */
.nav_banner {
  background: linear-gradient(to top, #000000, #434343, #121212);
  min-height: 715px;
  padding-top: 60px;
  /* display: flex; */
}
/* .inner_width {
  max-width: 74%;
  margin: 0 auto;
} */
.navbar {
  display: flex;
  justify-content: space-between;
  height: 46px;
  margin: 0 auto;
  max-width: 1060px;
}
.nav_title {
  color: rgb(230, 83, 60);
  font-size: 36px;
  font-weight: 800;
  font-style: italic;
}

.nav_items ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  border: 1px solid gray;
  width: 456px;
  /* gap: 20px; */
  height: 100%;
  border-radius: 20px;
  padding-right: 20px;
}
.nav_items ul > li:nth-child(1) a {
  background-color: #e6533c;
  padding: 6px 20px;
  border-radius: 50px;
  margin: 5px;
}
.nav_items ul li a {
  text-decoration: none;
  color: #ffffff;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
}
.menu_bar{
  color: #ffffff;
  font-size: 25px;
  display: flex;
  align-items: center;
  display: none;
}
/* navbar ends  */

/* banner starts  */
.banner {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.banner_content {
  height: 200px;
  width: 45%;
  height: 500px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  justify-content: center;
  margin-top: 60px;
}
.banner_content h1 {
  color: #ffffff;
  font-family: Inter;
  /* font-size: 400%; */
  font-size: 70px;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
}
.banner_content .shape {
  font-family: "Dancing Script", cursive;
  /* font-family: 'Miami'; */
}
.banner_btns {
  display: flex;
  gap: 20px;
}
.banner_btns > button:nth-child(2) {
  background-color: transparent;
}
.banner_img {
  width: 45%;
  /* padding-left: 70px; */
  position: relative;
  /* border: 1px solid gainsboro; */
}
.banner_img1 {
  height: 620px;
}
.banner_img1 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  height: 609px;
}
.glass_card1 {
  width: 193px;
  height: 98px;
  display: grid;
  place-items: center;
  padding: 18px;
  justify-items: start;
  row-gap: 5px;

  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);

  position: absolute;
  top: 135px;
  left: 310px;
}
.glass_card1 h1 {
  color: #ffffff;
  font-size: 40px;
  font-weight: 900;
  line-height: 40px;
  /* justify-self: start; */
}

.glass_card2 {
  position: absolute;
  top: 400px;
  left: 4px;

  width: 205px;
  height: 95px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(30px);
  background: rgba(48, 48, 48, 0.54);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.glass_card2 .red_ball {
  height: 40px;
  width: 40px;
  background-color: #e6533c;
  border-radius: 50px;
}
.glass_card2 > div:last-child h2 {
  color: #ffffff;
  font-size: 24px;
}
/* banner ends  */

/* change your habit starts   */
.change_your_habit {
  /* border: 1px solid ghostwhite; */
  min-height: 452px;
}
.change_cards {
  display: flex;
  justify-content: space-between;
}
.change_card {
  text-align: center;
  width: 20%;
}
.change_card img {
  width: 100%;
  /* height: 100%; */
  border-radius: 500px;
  border: 4px solid #434343;
  margin-bottom: 20px;
}
/* change your habit ends   */

/* run an extra starts  */
.run_an_extra_section {
  padding: 100px 0;
}
.run_an_extra {
  background-color: #222222;
  display: flex;

  gap: 20px;
  min-height: 371px;
  padding: 35px;
  border-radius: 15px;
}
.run_content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.run_content h1 {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 48px;
  font-weight: 900;
}
.run_img {
  width: 50%;
  display: flex;
  align-items: center;
}
.run_img img {
  width: 100%;
  object-fit: none;
  object-position: 72% 31%;
  zoom: 56%;
  border-radius: 15px;
}
/* run an extra ends  */

/* Training and Extra section starts here */

/* .training_and_extra_section{

} */
.training_and_extra {
  min-height: 581px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.grid_training {
  min-height: 400px;
  width: 1060px;
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: repeat(24, 1fr);
  /* gap: 10px; */
  color: #ffffff;
  /* border: 1px solid green; */
}
.training_heading{
  text-align: center;
  width: 74%;
  text-align: start;
}
.training_heading h1 {
  font-family: Inter;
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 17px;
}
.grid_training > div {
  padding: 20px;
}
.grid_img_1 {
  grid-column: 1 / span 5;
  grid-row: 1 / span 12;
  background: url("../images/exercise1.jpg");
  background-color: rgba(6, 255, 210, 0.5);

  /* background-blend-mode: lighten; */
  /* background-blend-mode: overlay; */
  /* background-blend-mode: luminosity; */
  /* background-blend-mode: multiply;  */
  /* background-blend-mode: screen;  */
  background-blend-mode: soft-light;
  /* opacity: 0.5; */

  /* opacity: 0.6; */

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: left;
  align-content: end;
}
.grid_img_2 {
  grid-column: 6 / span 13;
  grid-row: 1 / span 12;
  background: url("../images/exercise2.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  background-color: rgba(255, 0, 0, 0.3);
  background-blend-mode: soft-light;
}
.grid_img_3 {
  grid-column: 19 / span 6;
  grid-row: 1 / span 12;
  background: url("../images/exercise3.png");

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  align-content: end;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: soft-light;
}
.grid_img_4 {
  grid-column: 1 / span 10;
  grid-row: 13 / span 25;
  background: url("../images/exercise4.png");

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  text-align: right;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: soft-light;
}
.grid_img_5 {
  grid-column: 11 / span 6;
  grid-row: 13 / span 25;
  background: url("../images/exercise5.jpg");

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  align-content: end;
  background-color: rgba(66, 255, 0, 0.3);
  background-blend-mode: soft-light;
}
.grid_img_6 {
  grid-column: 17 / span 8;
  grid-row: 13 / span 25;
  background: url("../images/exercise6.jpg");

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  align-content: end;
  background-color: rgba(0, 71, 255, 0.3);
  background-blend-mode: soft-light;
}
/* Training and Extra section ends here */

/* BMI Calculator section starts  */
.bmi_heading {
  /* border: 1px solid green; */
  width: 50%;
  margin: 0 auto;
  padding: 50px 0;
}
.bmi_heading h1 {
  color: rgb(255, 255, 255);
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 10px;
}
.bmi_calculator {
  /* border: 1px solid gainsboro; */
  min-height: 487px;
  width: 74%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* .bmi_width {
 border: 2px solid gray; 
} */
.bmi_charts {
  width: 29%;
  min-height: 320px;
  margin-bottom: 65px;
}
.calculate_bmi {
  width: 54%;
  min-height: 386px;
  /* border: 1px solid gray; */
}
.table_data {
  width: 100%;
}

.table_data,
.table_data th,
td {
  border: 1px solid gray;
  border-collapse: collapse;
  color: rgba(255, 255, 255, 0.5);
  padding: 15px;
  text-align: left;
}
.table_data th {
  color: #ffffff;
}
.bmi_charts h2 {
  color: #ffffff;
  font-size: 28px;
  font-weight: 900;
  margin-bottom: 30px;
}

.calculate_bmi {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.calculate_bmi h2 {
  color: #ffffff;
  font-size: 28px;
  font-weight: 900;
}

.bmi_forms input,
select {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.6);
  border: none;
  outline: none;
  border-radius: 10px;
  /* width: 47%; */
  width: 48%;
  margin: 5px 3px;
}
.bmi_forms ::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.bmi_full_select select {
  width: 98%;
}
/* BMI Calculator section ends  */

/* Meet our section starts  */
.meet_our_team {
  padding-bottom: 88px;
}
.meet_gallary {
  background-color: rgba(255, 255, 255, 0.1);
  min-height: 604px;
  display: flex;
  flex-wrap: wrap;
  /* gap: 10px; */
  padding: 10px;
  border-radius: 20px;
}
.meet_img {
  width: 33.33%;
  /* height: 300px; */
  /* height: 10%; */
  padding: 8px;
  position: relative;
}
.meet_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  filter: brightness(75%);
}
.meet_content {
  position: absolute;
  /* top: 50%; */
  bottom: 0;
  margin: 20px;
  color: #ffffff;
}
/* Meet our section ends  */

/* Book class starts here  */
.book_class{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  padding-bottom: 5rem;
  /* align-items: center; */
  /* min-height: 300px; */
}
.class_img{
  position: relative;
}
.class_img .class_img_1{
  position: absolute;
  right: 0;
  top: 0;
  max-width: 370px;
  border-radius: 10px;
  filter: brightness(90%);
}
.class_img .class_img_2{
  position: absolute;
  left: 0;
  bottom: 0;
  max-width: 300px;
  border-radius: 10px;
  filter: brightness(95%);
}
.class_content{
  padding: 2rem 0;
}
.class_content h2{
text-align: left;
max-width: 400px;
margin-bottom: 1rem;
}
.class_content p{
  margin-bottom: 4rem;
}
/* Book class starts ends  */

/* Footer section starts here */
footer{
  min-height: 490px;
}

.foot_fitness {
  display: flex;
  justify-content: space-between;
  min-height: 310px;
  align-items: center;
}
.foot_content1 {
  width: 25%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.foot_content {
  width: 45%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.foot_content h1 {
  font-size: 60px;
  font-weight: 800;

}
.foot_end {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.foot_end hr {
  width: 74%;
  margin-bottom: 20px;
  background: rgba(255, 255, 255, 0.1);
  opacity: 30%;
}


/* Footer section starts ends */
